@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) {
			@content;
		}
	}
	@if $breakpoint == tab-port {
		@media (max-width: 56.25em) {
			@content;
		}
	}
	@if $breakpoint == tab-land {
		@media (max-width: 75em) {
			@content;
		}
	}
	@if $breakpoint == big-desktop {
		@media (min-width: 112.5em) {
			@content;
		}
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 50%;
	}

	@include respond(big-desktop) {
		font-size: 80%;
	}
}

body {
	box-sizing: border-box;
	padding: 3rem;
	font-family: 'Lato', sans-serif;

	@include respond(tab-port) {
		padding: 0;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

input {
	padding: 0.25rem;
}

button {
	padding: 0.25rem;
    cursor: pointer;
}
